*, *::before, *::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

h1, h2, h3, h4, h5, h6 {
  font-size: inherit;
  font-weight: 400;
}

a {
  text-decoration: none;
  color: inherit;
}

img { vertical-align: top; }

ul li { list-style: none; }

input::-webkit-inner-spin-button { display: none; }