.page__nav {
    margin: 0px 0px calc(110 / 16 * 1em) 0px;
}

/* .nav {} */
/* .nav__container {} */

.nav__header {
    margin: 0px 0px calc(30 / 16 * 1em) 0px;
}

/* .header-nav {} */

.header-nav__title {
    font-size: 1.5rem;
    font-weight: 700;
}

.header-nav__title:not(:last-child) {
    margin: 0px 0px calc(20 / 16 / 1.5 * 1em) 0px;
}

/* .header-nav__description {} */

.nav__body {
    counter-reset: a;
}

/* .nav__row {} */

.nav__row:not(:last-child) {
    margin: 0px 0px calc(30 / 16 * 1em) 0px;
}

.nav__title {
    margin: 0px 0px calc(15 / 16 * 1em) 0px;
    font-weight: 700;
}

.nav__content {
    counter-increment: a;
}

.nav__list {
    columns: 3;
    counter-reset: b;
}

@media (max-width: 920px) {
    .nav__list {
        columns: 2;
    }
}

@media (max-width: 610px) {
    .nav__list {
        columns: 1;
    }
}

.nav__list li {
    position: relative;
    margin: 0px 0px calc(5 / 16 * 1em) 0px;
    padding: 0px calc(10 / 16 * 1em) 0px calc(35 / 16 * 1em);
    line-height: 1.5;
}

.nav__list li::before {
    position: absolute;
    left: 0;
    top: calc(5 / 16 * 1em);

    content: counter(a)"."counter(b);
    counter-increment: b;
    
    font-family: "Wix Madefor Text";
    font-size: 0.75rem;
    letter-spacing: 0.3px;
}

.nav__link {
    font-size: 0.95rem;
    letter-spacing: -0.3px;
}