@import "header.css";
@import "nav.css";

@media (max-width: 575px) {
    html {
        font-size: calc(14 / 16 * 1em);
    }
}

/* #region tags */

a {
    color: #436ebd;
}

a:hover {
    text-decoration: underline;
}

.ibg {
    position: relative;
    padding-bottom: 60%;
    margin: 5px 0;
}

.ibg img {
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
}

.ibg30 {
    padding-bottom: 30%;
}

.ibg90 {
    padding-bottom: 90%;
}

.ibg100 img {
    left: 20%;
    width: 60%;
}

h4 {
    overflow: auto;
    margin: calc(15 / 16 / 1.45 * 1em) 0px calc(12 / 16 / 1.45 * 1em) 0px;
    font-size: 1.45rem;
    font-weight: 600;
}

h5 {
    margin: 0px 0px calc(12 / 16 / 1.3 * 1em) 0px;
    font-size: 1.3rem;
    font-weight: 500;
}

p {
    margin: 0px 0px calc(12 / 16 * 1em) 0px;
    font-family: sans-serif;
    overflow: auto;
}

ol>li {
    position: relative;
    left: 20px;
    margin-left: 20px;
    padding-right: 20px;
}

li {
    margin: calc(7 / 16 * 1em) 0;
}

code {
    display: inline;
    padding: 2px 4px;
    letter-spacing: 0.2px;
    font-family: Inconsolata;
    background-color: #f7f4f3;
}

code.large {
    margin: 0px 0px calc(12 / 16 * 1em) 0px;
    display: block;
    padding: 7px 4px;
    white-space: pre;
    overflow: auto;
}

h4:last-child,
h5:last-child,
p:last-child,
code:last-child {
    margin-bottom: 0;
}

/* #endregion */

.wrapper {
    min-height: 100vh;
    font-family: Montserrat;
    line-height: 1.45;
}

._container {
    margin: 0 auto;
    max-width: 970px;
    padding: 0 15px;
}

.page {
    padding: calc(40 / 16 * 1em) 0px 0px 0px;
}

/* .page__content {} */

.page ol:not(:last-child),
.page ul:not(:last-child) {
    margin: 0px 0px calc(12 / 16 * 1em) 0px;
}

.content {
    padding: 0px 0px 50px 0px;
}

/* .content__container {} */

.content__section:not(:last-child) {
    margin: 0px 0px calc(100 / 16 * 1em) 0px;
}

@media (max-width: 767px) {
    .content__section:not(:last-child) {
        margin: 0px 0px calc(80 / 16 * 1em) 0px;
    }
}

@media (max-width: 575px) {
    .content__section:not(:last-child) {
        margin: 0px 0px calc(60 / 16 * 1em) 0px;
    }
}

.content__header {
    margin: 0px 0px calc(60 / 16 * 1em) 0px;
}

@media (max-width: 575px) {
    .content__header {
        margin: 0px 0px calc(45 / 16 * 1em) 0px;
    }
}

.content__title {
    font-size: 1.75rem;
    font-weight: 800;
}

.content__title::first-letter {
    color: rgb(184, 0, 0);
}

/* .content__body {} */

.content__chapter:not(:last-child) {
    margin: 0px 0px calc(60 / 16 * 1em) 0px;
}

.content ul>li {
    margin-left: 20px;
}

.content li {
    font-family: Arial, Helvetica, sans-serif;
}

/* .chapter {} */
/* .chapter__header {} */

.chapter__title {
    margin: 0px 0px calc(25 / 16 / 1.6 * 1em) 0px;
    font-size: 1.6rem;
    font-weight: 700;
}

/* .chapter__content {} */